# =========================
# OS & IDEs
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
*.iws
*.ipr
*.log

# =========================
# Backend (Java / Spring / Maven)
# =========================
**/target/
**/.mvn/
**/HELP.md
**/.classpath
**/.project
**/.settings/

# =========================
# Frontend (Node / React / Vite)
# =========================
**/node_modules/
**/dist/
**/build/
**/.pnp
**/.pnp.js
.coverage
*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
